<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<div class="container">
    <h1 class="text-center">REST 测试主页</h1>
    <p><a th:href="@{/web/student/list}">学生列表</a></p>
    <p><a th:href="@{/web/course/list}">课程列表</a></p>
    <p><a th:href="@{/fe/student/list}">前后端学生分离页面</a></p>
    <p><a th:href="@{/fe/course/list}">前后端课程页面</a></p>
    <p><a th:href="@{/message/test}">发送和接受消息页面</a></p>
</div>



<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>